@import './variables.css';

.app {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'header'
		'main';
	height: 100%;
}

.header {
	background-color: var(--color-background-secondary);
	min-height: min-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}
